<!DOCTYPE html>
<html>
<head>
    <title>ASGARD CRA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/locale-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .fc-event .fc-time {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Code Projet</h4> 
                <select id="selectProject">
                    {% for projet in projets %}
                    <option value="{{ projet.id }}">{{ projet.intitule }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 text-end">
                <div class="pdf-button">
                    <button id="events-btn" class="btn btn-primary">Enregistrer les informations</button>
                </div>

            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    
    <!-- Modal for updating events -->
    <div class="modal fade" id="update-event-modal" tabindex="-1" role="dialog" aria-labelledby="updateEventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateEventModalLabel">Mettre à jour l'événement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-event-form">
                        <input type="hidden" id="event-id" name="event-id">
                        <div class="mb-3">
                            <label for="duration" class="form-label">Durée</label>
                            <input type="text" class="form-control" id="duration" name="duration">
                        </div>
                        <div class="mb-3">
                            <label for="codeprojet" class="form-label">Code Projet</label>
                            <select class="form-control" id="codeprojet" name="codeprojet">
                                {% for projet in projets %}
                                <option value="{{ projet.id }}">{{ projet.intitule }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var durationByDay = {};
        
            $('#calendar').fullCalendar({
                locale: "fr",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/cra/all_events/',
                        dataType: 'json',
                        success: function (data) {
                            data.forEach(function (event) {
                                if (!moment.isMoment(event.start)) {
                                    event.start = moment(event.start);
                                }
                                if (!moment.isMoment(event.end)) {
                                    event.end = moment(event.end);
                                }
                            });
                            callback(data);
                        }
                    });
                },
                eventRender: function (event, element) {
                    const durationSpan = document.createElement('span');
                    const formattedDuration = parseFloat(event.duration).toFixed(2); // Formatage de la durée avec deux chiffres après la virgule
                    durationSpan.textContent = ` (${event.codeprojet})`;
                    element.find('.fc-title').append(durationSpan);
                },
                eventClick: function(calEvent) {
                    console.log("Clicked event:", calEvent);
        
                    var eventId = calEvent.id;
                    var duration = calEvent.duration;
                    var codeProjet = calEvent.codeprojet;
        
                    $('#event-id').val(eventId);
                    $('#duration').val(duration);
                    $('#codeprojet').val(codeProjet);
        
                    console.log("Event data:", { eventId, duration, codeProjet });
        
                    if (eventId && duration !== undefined && codeProjet) {
                        $('#update-event-modal').modal('show');
                    } else {
                        console.error("Invalid event data:", { eventId, duration, codeProjet });
                        alert("Données de l'événement invalides, veuillez réessayer.");
                    }
                },
                select: function (start, end, allDay) {
                    var startDate = start.format('YYYY-MM-DD');
                    var endDate = end.clone().subtract(1, 'days').format('YYYY-MM-DD'); // Ajustement de la date de fin pour exclure le jour supplémentaire
        
                    var maxDuration = 1 - (durationByDay[startDate] || 0);
        
                    $.ajax({
                        url: '/cra/all_events/',
                        dataType: 'json',
                        success: function (data) {
                            data.forEach(function (event) {
                                if (!moment.isMoment(event.start)) {
                                    event.start = moment(event.start);
                                }
                                if (!moment.isMoment(event.end)) {
                                    event.end = moment(event.end);
                                }
                            });
        
                            var existingEvents = data.filter(function (event) {
                                return event.start.format('YYYY-MM-DD') === startDate;
                            });
        
                            var totalExistingDuration = existingEvents.reduce(function (total, event) {
                                return total + event.duration;
                            }, 0);
        
                            maxDuration -= totalExistingDuration;
        
                            var duration = prompt("Veuillez saisir la durée de l'événement (en heures)");
        
                            if (duration === null) {
                                alert("Saisie de la durée annulée. L'événement ne sera pas créé.");
                                return;
                            }
        
                            duration = parseFloat(duration);
        
                            if (duration <= 0 || duration > maxDuration) {
                                alert("La durée de l'événement doit être supérieure à 0 et inférieure ou égale à " + maxDuration);
                                return;
                            }
        
                            var codeprojet = $('#selectProject').val();
                            if (codeprojet) {
                                $.ajax({
                                    type: "GET",
                                    url: '/cra/add_event',
                                    data: { 'duration': duration, 'start': startDate, 'end': endDate, 'codeprojet': codeprojet },
                                    dataType: "json",
                                    success: function (data) {
                                        $('#calendar').fullCalendar('refetchEvents');
                                        alert("Événement ajouté avec succès");
                                        durationByDay[startDate] = (durationByDay[startDate] || 0) + duration;
                                    },
                                    error: function (data) {
                                        alert("Erreur lors de l'ajout de l'événement. Veuillez réessayer.");
                                        console.error(data);
                                    }
                                });
                            } else {
                                alert("Veuillez sélectionner un projet pour l'événement.");
                            }
                        }
                    });
                }
            });
        
            $('#update-event-form').submit(function(event) {
                event.preventDefault();
        
                var formData = $(this).serialize();
                console.log("Form data being sent:", formData);
        
                $.ajax({
                    url: '/cra/update_event/',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        console.log("Server response:", response);
                        $('#calendar').fullCalendar('refetchEvents');
                        $('#update-event-modal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        alert("Erreur lors de la mise à jour de l'événement : " + error);
                        console.error("Error details:", xhr, status, error);
                    }
                });
            });
        });
        
        document.addEventListener("DOMContentLoaded", function () {
            // Sélectionner le bouton de génération de PDF
            var events_btn = document.getElementById('events-btn');
        
            // Ajouter un écouteur d'événements pour détecter le clic sur le bouton
            events_btn.addEventListener('click', function () {
                // Générer le PDF à partir du contenu de la page
                redirect_events();
            });
        });
        
        function redirect_events() {
            var date = $("#calendar").fullCalendar('getDate');
            var month = date.month() + 1;
            var year = date.year();
            window.location.href = "/event-table/" + month + "/" + year + "/";
        }
    </script>
</body>
</html>
