<!DOCTYPE html>
<html>
<head>
    <title>ASGARD CRA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/locale-all.min.js"></script>
    <style>
        .fc-event .fc-time {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Code Projet</h4> 
                <select id="selectProject">
                    {% for projet in projets %}
                    <option value="{{ projet.id }}">{{ projet.intitule }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 text-end">
                <div class="pdf-button">
                    <button id="events-btn" class="btn btn-primary">Valider les informations</button>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>

    <script>
        $(document).ready(function () {
            var durationByDay = {};

            $('#calendar').fullCalendar({
                locale: "fr",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                eventClick: function(calEvent) {
                    var eventId = calEvent.id;
                    var duration = calEvent.duration;
                    var codeProjet = calEvent.codeprojet;

                    $('#event-id').val(eventId);
                    $('#duration').val(duration);
                    $('#codeprojet').val(codeProjet);

                    $('#update-event-modal').modal('show');
                },
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/cra/all_events/',
                        dataType: 'json',
                        success: function (data) {
                            data.forEach(function (event) {
                                event.start = moment(event.start).format();
                                event.end = moment(event.end).format();
                            });
                            callback(data);
                        }
                    });
                },
                select: function (start, end, allDay) {
                    var date = start.format('YYYY-MM-DD');
                    var maxDuration = 1 - (durationByDay[date] || 0);

                    // Récupérer les événements existants pour la date sélectionnée
                    $.ajax({
                        url: '/cra/all_events/',
                        dataType: 'json',
                        success: function (data) {
                            var existingEvents = data.filter(function (event) {
                                if (moment.isMoment(event.start)) {
                                    return event.start.format('YYYY-MM-DD') === date;
                                } else {
                                    console.error("La propriété 'start' de l'événement n'est pas un objet Moment.js :", event.start);
                                    return false;
                                }
                            });

                            var totalExistingDuration = existingEvents.reduce(function (total, event) {
                                return total + event.duration;
                            }, 0);

                            maxDuration -= totalExistingDuration;

                            var duration = prompt("Veuillez saisir la durée de l'événement (en heures)");

                            if (duration === null) {
                                alert("Saisie de la durée annulée. L'événement ne sera pas créé.");
                                return;
                            }

                            duration = parseFloat(duration);

                            if (duration <= 0 || duration > maxDuration) {
                                alert("La durée de l'événement doit être supérieure à 0 et inférieure ou égale à " + maxDuration);
                                return;
                            }

                            var codeprojet = $('#selectProject').val();
                            if (codeprojet) {
                                $.ajax({
                                    type: "GET",
                                    url: '/cra/add_event',
                                    data: { 'duration': duration, 'start': start.format(), 'end': end.format(), 'codeprojet': codeprojet },
                                    dataType: "json",
                                    success: function (data) {
                                        $('#calendar').fullCalendar('refetchEvents');
                                        alert("Événement ajouté avec succès");
                                        durationByDay[date] = (durationByDay[date] || 0) + duration;
                                    },
                                    error: function (data) {
                                        alert("Erreur lors de l'ajout de l'événement. Veuillez réessayer.");
                                        console.error(data);
                                    }
                                });
                            } else {
                                alert("Veuillez sélectionner un projet pour l'événement.");
                            }
                        }
                    });
                },
                eventRender: function (event, element) {
                    const durationSpan = document.createElement('span');
                    durationSpan.textContent = ` (${event.codeprojet})`;
                    element.find('.fc-title').append(durationSpan);
                }
            });

            $('#update-event-form').submit(function(event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: '/cra/update_event/',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('#calendar').fullCalendar('refetchEvents');
                        $('#update-event-modal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        alert("Erreur lors de la mise à jour de l'événement : " + error);
                    }
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            var events_btn = document.getElementById('events-btn');
            events_btn.addEventListener('click', function () {
                redirect_events();
            });
        });

        function redirect_events() {
            var date = $("#calendar").fullCalendar('getDate');
            var month = date.month() + 1;
            var year = date.year();
            window.location.href = "/event-table/" + month + "/" + year + "/";
        }
    </script>
</body>
</html>
