<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des événements</title>
    <style>
        /* Styles communs */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            font-size: 16px;
        }

        td {
            font-size: 14px;
        }

        .pdf-button {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.0/purify.min.js"></script>
   
   
</head>
<body>

<header>
    <h1>Asgard Consulting</h1>
    <p>CRA  de - {{ user_name }} - pour  {{ current_month }} - </p>
</header>

<main>
    <div class="pdf-button">
        <button id="generate-pdf-btn" data-html2canvas-ignore="true" >Générer PDF</button>
    </div>
    <div class="pdf-button">
        <a href="{% url 'create_invoice' consultant_id %}" class="btn btn-primary">Créer une facture</a>
    </div>
    
    <table border="1" id="a">
        <thead>
            <tr>
                <th>Jour</th>
                {% for day in all_days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Durée</td>
                {% for day in all_days %}
                    <td>
                        {% for event in events %}
                            {% if event.start.day == day %}
                                {{ event.duration }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Code Projet</td>
                {% for day in all_days %}
                    <td>
                        {% for event in events %}
                            {% if event.start.day == day %}
                                {{ event.codeprojet.code_projet }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total Durée</td>
                <td colspan="{{ num_days_in_month }}">{{ total_duration }}</td>
            </tr>
        </tbody>
    </table>
</main>



</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
       // Sélectionner le bouton de génération de PDF
       var generatePdfBtn = document.getElementById('generate-pdf-btn');
 
       // Ajouter un écouteur d'événements pour détecter le clic sur le bouton
       generatePdfBtn.addEventListener('click', function() {
           // Générer le PDF à partir du contenu de la page
           generatePdfFromHtml();

       });
   }); 
   
 
   function generatePdfFromHtml() {
 
       console.log("bimporte quoi");
       // Sélectionner le contenu de la page à convertir en PDF
       var htmlContent = document.documentElement.outerHTML;
 
       // Créer un objet jsPDF
       var pdf = new window.jspdf.jsPDF({
         orientation: "landscape",
 
       }); // Utiliser window.jspdf.jsPDF
 
       // Ajouter le contenu HTML au PDF
       pdf.html(htmlContent,
                      {
           callback: function (pdf) {
               // Télécharger le PDF
               pdf.save('liste_evenements.pdf');
           }
       });
 
         
         html2canvas(document.getElementById("a"), {
         onrendered: function(canvas) {
             console.log("bimporte quoi");
             var imgData = canvas.toDataURL('image/png');
             console.log('Report Image URL: '+imgData);
             var doc = new jsPDF('p', 'mm', [297, 210]); //210mm wide and 297mm high
 
             doc.addImage(imgData, 'PNG', 10, 10);
             doc.save('sample.pdf');
         }
     });
     
     // Sélectionner le contenu de la page à convertir en PDF
     var htmlContent = document.documentElement.outerHTML;
 
     // Créer un objet jsPDF
     var pdf = new window.jspdf.jsPDF({
         orientation: "landscape",
         unit: "px", // Utiliser les pixels pour les dimensions
         format: [792, 612] // Format lettre paysage
     });
 
     // Ajouter le contenu HTML au PDF
     pdf.html(htmlContent, {
         callback: function (pdf) {
             // Télécharger le PDF
             pdf.save('liste_evenements.pdf');
         }
     });
     
     
   } 
   function generatePdfFromHtml() {
    // Sélectionner le contenu de la table à convertir en PDF
    var tableContent = document.body;


    // Convertir la table en image avec html2canvas
    html2canvas(tableContent).then(function(canvas) {
        var imgData = canvas.toDataURL('image/png');

        // Créer un objet jsPDF
        var doc = new window.jspdf.jsPDF('l', 'mm', [297, 210]); // Format A4 portrait

        // Ajouter l'image du tableau au PDF
        doc.addImage(imgData, 'PNG', 2, 2, doc.internal.pageSize.width, doc.internal.pageSize.height);

        // Télécharger le PDF
        doc.save('liste_evenements.pdf');
    });
}
   
 </script>
</html>
