{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
  .breadcrumb-item + .breadcrumb-item::before {
      content: none;
  }
</style>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-light rounded-3 p-3 mb-4">
            <li class="breadcrumb-item"><a href="{% url "Accueil" %}" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "profil" %}" class="text-decoration-none">User</a></li>
            {% if user.is_authenticated %}
            <li class="breadcrumb-item ms-auto"><a href="{% url "logout" %}" class="text-decoration-none">Logout</a></li>
            {% endif %}
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-4">Liste des Projets</h5>
            <ul class="list-group list-group-flush">
              {% for projet in projets %}
              <li class="list-group-item">
                <a href="{% url 'projet_details' projet.id %}" class="text-decoration-none">{{ projet }}</a>
              </li>
              {% endfor %}
            </ul>



          </div>
        </div>
        {% if user.is_authenticated %}
        {% for group in user.groups.all %}
        {% if group.name == 'RH' %}
        <div class="mt-4">
          <div class="btn-group" role="group" aria-label="Actions">
            <a href="{% url 'ajouter_projet' %}" class="btn btn-outline-info">Ajouter un projet</a>
            <a href="{% url 'modifier_projet' %}" class="btn btn-outline-warning">Mettre à jour un projet</a>
            <a href="{% url 'modifier_projet' %}" class="btn btn-outline-danger">Supprimer un projet</a>
          </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
